body {
   background-color: #282c34;
   font-size: 1.1rem;
}

.App {
  text-align: center;
  width: 36rem;
  margin: 10% auto;
  background-color: #4d7ddd;
  height: 30rem;
  border-radius: 15px;
}

h1 {
  color: #FFF;
  padding-top: 2rem;
}

.disabled {
  background-color: rgba(238, 238, 238, 0.39);
  cursor: not-allowed;
}

.sub-dontExist {
  color: #fff;
}


button:hover, a:hover  {
  filter: brightness(90%);
}