body {
   background-color: #4F71C8;
   font-size: 1.1rem;
   overflow: hidden;
}

.App {
  text-align: center;
  width: 36rem;
  margin: 10% auto;
  background-color: var(--dark-medium);
  height: 35rem;
  border-radius: 15px;
  overflow-y: scroll;
}


h1 {
  color: #FFF;
  padding-top: 2rem;
}

.disabled {
  background-color: rgba(238, 238, 238, 0.39);
  cursor: not-allowed;
}

